#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars


# security stuff
_investory
_logs
_ssh
_ssl

# temp files for local testing
#temp/*
#scratchpad